<header class="header">
  <div class="user-options">
    <% if current_user %>
      <h3>Welcome, <%= current_user.username %> &#x25BE
        <ul>
          <li><a href="#">Saved Recipes (#)</a></li>
          <li><a href="#recipes/new">Add Recipe</a></li>
          <li><a href="#user/activity">My Profile</a></li>
          <li>
            <form action="<%= session_url %>" method="post">
              <%= form_auth_token %>
              <input type="hidden" name="_method" value="delete">
              <button class="log-out">Log Out</button>
            </form>
          </li>
        </ul>
      </h3>


    <% else %>
      <%= link_to "Log In", new_session_url %>
      <%= link_to "Sign Up", new_user_url %>
    <% end %>
  </div>


  <h1>I Will Cook That</h1>
  <h2>Find your new favorite recipe</h2>
</header>

<div class="main-content"></div>
