<label>Recipe Title
  <input type="text" name="recipe[title]" value="<%= recipe.escape("title") %>">
</label>
<br>
<label>Description
  <textarea name="recipe[description]" rows="4" cols="40">
      <%= recipe.escape("description") %>
  </textarea>
</label>
<br>

<label>Number of servings
  <input
    type="number"
    name="recipe[servings]"
    min="1"
    value="<%= recipe.escape("servings") %>">
</label>
<br>
<label>Active Time
  <input
    type="text"
    name="recipe[active_time]"
    value="<%= recipe.escape("active_time")  %>">
</label>
<br>
<label>Total Time
  <input
    type="text"
    name="recipe[total_time]"
    value="<%= recipe.escape("total_time")  %>">
</label>
<br>
<label>Ingredients
  <textarea
    name="recipe[ingredients]"
    rows="8"
    cols="40"><%= recipe.escape("ingredients") %>
  </textarea>
</label>
<br>
<label>Instructions
  <textarea
    name="recipe[instructions]"
    rows="10"
    cols="40"><%= recipe.escape("instructions") %>
  </textarea>
</label>
<br>
<button class="submit-recipe">Submit Recipe</button>
