
<a class="go-back" href="#user/saved">&#x25c0 Back to My Saved Recipes</a>

<form class="recipe-form">
  <h2>Add New Recipe </h2>

  <div class="errors">

  </div>


  <label>Recipe Title
    <input type="text" name="recipe[title]" value="<%= recipe.escape("title") %>">
  </label>

  <label>Description
    <textarea
      name="recipe[description]"
      rows="4" ><%= recipe.escape("description") %></textarea>
  </label>

  <label>Photo
    <input id="input-image" class="image" type="file" name="recipe[photo]" value="<%= file %>">
  </label>

  <label>Photo Preview
    <img src="" alt="Preview of uploaded photo" width="200" id="image-preview" />
  </label>

  <label>Number of servings
    <input
      type="number"
      name="recipe[servings]"
      min="1"
      value="<%= recipe.escape("servings") %>">
  </label>

  <label>Active Time
    <input
      type="text"
      name="recipe[active_time]"
      value="<%= recipe.escape("active_time")  %>">
  </label>

  <label>Total Time
    <input
      type="text"
      name="recipe[total_time]"
      value="<%= recipe.escape("total_time")  %>">
  </label>

  <label>Ingredients
    <textarea
      name="recipe[ingredients]"
      rows="8"><%= recipe.escape("ingredients") %></textarea>
  </label>

  <label>Instructions
    <textarea
      name="recipe[instructions]"
      rows="12"><%= recipe.escape("instructions") %></textarea>
  </label>

  <label>Cuisine
    <select class="cuisine" name="tagging[tag_id]">
       <option value=""></option>
      <% if (cuisines) { %>
        <% _.each(cuisines, function(cuisine){ %>
        <option value="<%= cuisine %>"> <%= cuisine %></option>
        <% }) %>
      <% } %>
    </select>
  </label>

  <label>Course/Meal
    <select class="course" name="recipe[course]">
       <option value=""></option>
      <% if (courses) { %>
        <% _.each(courses, function(course){ %>
        <option value="<%= course %>"> <%= course %></option>
        <% }) %>
      <% } %>
    </select>
  </label>

  <label>Dietary Restriction
    <select class="" name="recipe[diet]">
       <option value=""></option>
      <% if (diets) { %>
        <% _.each(diets, function(diet){ %>
        <option value="<%= diet %>"> <%= diet %></option>
        <% }) %>
      <% } %>
    </select>
  </label>

  <label>General
    <select class="general" name="recipe[general]">
       <option value=""></option>
      <% if (generalTags) { %>
        <% _.each(generalTags,function(general){ %>
        <option value="<%= general%>"> <%= general %></option>
        <% }) %>
      <% } %>
    </select>
  </label>

  <label>Main Ingredient
    <input type="text" name="recipe[main_ingredient]" value="">
  </label>

  <button class="submit submit-recipe">Submit Recipe</button>

</form>
