<div class="recipe-header">
  <h1><%= recipe.escape("title") %></h1>
  <h3>--<%= recipe.escape("author") %> </h3>
  <ul class="ratings">
    <li>
      <h1> <%= recipe.escape("rating_average") %>/4</h1>
      <h4>Reviews(<%= recipe.reviews().length %>)</h4>
    </li>
    <li>
      <h1> <%= recipe.escape("percentage") %>%</h1>
      <h4>Make It Again</h4>
    </li>
  </ul>
</div>

<div class="recipe-image">
  <img src="<%= recipe.escape("photo_url")%>" alt="picture of <%= recipe.escape("title") %>" />
</div>


<div class="action-options">
  <ul>
    <% if (IWillCookThat.currentUser.isSignedIn()) { %>
      <% if (recipe.folders().length > 0 ) { %>
        <li>Saved</li>
      <% } else {  %>
        <div class="add-to-folder"></div>
        <li class="save-recipe">Save Recipe</li>
      <% } %>
    <% } %>
    <li class="print-recipe">Print Recipe</li>
  </ul>
</div>

<section class="recipe-main">

  <div class="recipe-nav">
    <ul>
      <li class="cook-tab active" data-section="recipe-detail">Cook</li>
      <li class="review-tab" data-section="recipe-reviews">Reviews(<%= recipe.reviews().length %>)</li>
    </ul>
  </div>

  <section class="recipe-pane">
    <section class="recipe-detail active">

    </section>
    <section class="recipe-reviews">
      <div class="review-info">

        <div class="review-form"></div>
        <ul class="review-list"></ul>

      </div>
    </section>
  </section>


</section>
