
  <form class="filtering">
    <h2>Filters</h2>
    <% if (IWillCookThat.courses && !_.isEmpty(IWillCookThat.courses)) {%>
      <label>Course </label>
      <% for (var key  in IWillCookThat.courses) { %>
        <input type="checkbox" name="course" value="<%= key %>" id="<%= key %>"><%= key %> (<%= IWillCookThat.courses[key] %>)<br>
      <% } %>

    <% } %>

    <% if (IWillCookThat.cuisines  && !_.isEmpty(IWillCookThat.cuisines)) {%>
    <label>Cuisine</label>
      <% for (var key  in IWillCookThat.cuisines) { %>
        <input type="checkbox" name="cuisine" value="<%= key %>"  id="<%= key %>"><%= key %> (<%= IWillCookThat.cuisines[key] %>)<br>
      <% } %>

    <% } %>

    <% if (IWillCookThat.diets && !_.isEmpty(IWillCookThat.diets)) {%>
      <label>Diet </label>
      <% for (var key  in IWillCookThat.diets) { %>
        <input type="checkbox" name="diet" value="<%= key %>"  id="<%= key %>"><%= key %> (<%= IWillCookThat.diets[key] %>)<br>
      <% } %>
    <% } %>

    <% if (IWillCookThat.general_tags && !_.isEmpty(IWillCookThat.general_tags)) {%>
      <label>General </label>
      <% for (var key  in IWillCookThat.general_tags) { %>
        <input type="checkbox" name="general" value="<%= key %>"  id="<%= key %>"><%= key %> (<%= IWillCookThat.general_tags[key] %>)<br>
      <% } %>
    <% } %>
    </form>

<div class="recipe-index">
  <h3> <%= recipes.query ? (recipes.length) + ' Result(s) for "' + recipes.query + '"' : "My Recipes (" + recipes.length + ")"%></h3>

  <ul class="my-recipe-index-item"></ul>
</div>
